In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("desafio1.csv", index_col=1)

In [3]:
df.drop(columns=["RowNumber"], inplace=True)

In [4]:
df.head()

,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
id,,,,,,,,,,
e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [5]:
mean = df.groupby(['estado_residencia']).mean()['pontuacao_credito'].rename("media")

In [6]:
median = df.groupby(['estado_residencia']).median()['pontuacao_credito'].rename("mediana")

In [7]:
mode = df.groupby(['estado_residencia']).apply(lambda x: x.mode().iloc[0])['pontuacao_credito'].rename("moda")

In [12]:
std = df.groupby(['estado_residencia']).std()['pontuacao_credito'].rename("desvio_padrao")

In [14]:
pd.concat([mode, median, mean, std], axis=1).to_json(r'submission.json', orient='index')

In [11]:
pd.concat([mode, median, mean, std], axis=1)

                    moda  mediana       media        std
estado_residencia
PR                 850.0      650  648.961294  98.607186
RS                 850.0      650  651.105143  95.136598
SC                 850.0      653  649.537653  97.233493